dist-electron/AuroraChat[[:space:]]0.0.0.exe filter=lfs diff=lfs merge=lfs -text
dist-electron/win-unpacked/electron.exe filter=lfs diff=lfs merge=lfs -text
dist-electron/AuroraChat[[:space:]]0.5.5.exe filter=lfs diff=lfs merge=lfs -text
public/AuroraChat-0.5.5.exe filter=lfs diff=lfs merge=lfs -text
builds/AuroraChat-linux-x64.tar.gz filter=lfs diff=lfs merge=lfs -text
builds/AuroraChat-linux-x64/AuroraChat filter=lfs diff=lfs merge=lfs -text
builds/AuroraChat-win32-x64/AuroraChat.exe filter=lfs diff=lfs merge=lfs -text
builds/AuroraChat-Windows-x64.zip filter=lfs diff=lfs merge=lfs -text
builds/electron-win32-x64-extracted/AuroraChat.exe filter=lfs diff=lfs merge=lfs -text
builds/electron-win32-x64.zip filter=lfs diff=lfs merge=lfs -text
builds/AuroraChat-Windows-x64-v057.zip filter=lfs diff=lfs merge=lfs -text
public/AuroraChat-Windows-x64-v057.zip filter=lfs diff=lfs merge=lfs -text
public/AuroraChat-Windows-x64-v058.zip filter=lfs diff=lfs merge=lfs -text
public/AuroraChat-Windows-x64-v059.zip filter=lfs diff=lfs merge=lfs -text
public/AuroraChat-Windows-x64-v060.zip filter=lfs diff=lfs merge=lfs -text
public/AuroraChat-Windows-x64.zip filter=lfs diff=lfs merge=lfs -text
dist-electron/win-ia32-unpacked/electron.exe filter=lfs diff=lfs merge=lfs -text
public/AuroraChat-Windows-ia32.zip filter=lfs diff=lfs merge=lfs -text
dist-electron/win-ia32-unpacked/AuroraChat.exe filter=lfs diff=lfs merge=lfs -text
dist-electron/win-unpacked/AuroraChat.exe filter=lfs diff=lfs merge=lfs -text
